# =============== #
# Unity generated #
# =============== #
LudumDare34/[Tt]emp/
LudumDare34/[Oo]bj/
LudumDare34/[Bb]uild
LudumDare34/[Ll]ibrary/
LudumDare34/sysinfo.txt
LudumDare34/*.meta
LudumDare34/**/*.meta
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
LudumDare34/[Ee]xported[Oo]bj/
LudumDare34/*.userprefs
LudumDare34/*.csproj
LudumDare34/*.pidb
LudumDare34/*.suo
LudumDare34/*.sln*
LudumDare34/*.user
LudumDare34/*.unityproj
LudumDare34/*.booproj
 
# ============ #
# OS generated #
# ============ #
LudumDare34/.DS_Store*
LudumDare34/._*
LudumDare34/.Spotlight-V100
LudumDare34/.Trashes
LudumDare34/Icon?
LudumDare34/ehthumbs.db
LudumDare34/[Tt]humbs.db